# --- CONFIGURACIÓN BASE DE DATOS (LOCAL) ---
DB_USER=usuario_pds
DB_PASSWORD=password_seguro
DB_NAME=techcup_futbol
DB_HOST=db
DB_PORT=5432

# --- CONFIGURACIÓN SPRING BOOT ---
# Perfiles disponibles: dev, prod
SPRING_PROFILE=dev
SERVER_PORT=8080

# --- CONFIGURACIÓN AZURE (PRODUCCIÓN) ---
# Estas variables las usará el perfil 'prod'
AZURE_DATABASE_URL=jdbc:postgresql://tu-servidor-azure:5432/db_prod
AZURE_DATABASE_USER=admin_azure
AZURE_DATABASE_PASSWORD=password_azure
