HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### .py ###
fixer.py
refactor.py
translator.py
translate_swagger.py
translate_java.py
refactor_java.py
rename_fields.py
rename_remaining_java.py

### .txt ###
spanish_java_full_report.txt
spanish_non_java_full_report.txt
front_full_report.txt

### Diagrama de Clases ###
/diagrama_clases.md


## Los diff
*.patch
